@import "modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
  --text: black;
  --player-1: red;
  --player-2: blue;
  --backgroundColor: white;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

header {
  height: 6rem;
  font-size: 3rem;
  text-align: center;
  align-content: center;
}

section.player-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8rem;
  padding: 0.5rem 0rem;
  flex: 0 1 auto;
}

.player {
  font-size: 2rem;
  width: 50%;
  font-family: "Fira Code", monospace;
}

.player-layout {
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.player-one {
  text-align: right;
  margin-left: auto;
  .name {
    color: var(--player-1);
    flex: 1;
  }
  .score {
    text-align: center;
  }
}
.player-two {
  text-align: left;
  .name {
    color: var(--player-2);
  }
  .score {
    text-align: center;
  }
}

.score {
  margin-top: 0.4rem;
  font-size: 3rem;
}

main {
  margin: auto;
}

main > div.game-board {
  width: 21rem;
  height: 21rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.game-board > span.square {
  background-color: var(--backgroundColor);
  border: 2px solid black;
  max-width: 7rem;
  max-height: 7rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

div.tool-bar {
  margin-top: 3rem;
  height: 5rem;
  background-color: var(--backgroundColor);
  display: grid;
  grid-template-columns: 1fr, 1fr;
  justify-content: center;

  button {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 6px;
    background-color: var(--backgroundColor);
  }
}

footer {
  height: 2rem;
  text-align: center;
  padding: 8px;
}

.marker {
  font-size: 7rem;
}

.player-one-marker {
  color: var(--player-1);
}

.player-one-marker {
  color: var(--player-2);
}

dialog {
  padding: 0px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 2rem;
}

.btn-container {
  margin-left: auto;
  margin-bottom: 1rem;
}

button.close-modal {
  width: 2rem;
  height: 2rem;
  padding: 0px;
  background-color: white;
  border: none;
  border-radius: 6px;
  margin-top: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  display: grid;
  margin-bottom: 1rem;
  input {
    width: 40ch;
    background-color: #e6e6e6;
    border: none;
    height: 2rem;
    color: var(--text);
    padding-left: 5px;
    border-radius: 6px;
    margin-top: 0.2rem;
  }
}

form > div > label {
  padding-left: 5px;
}

input:required:invalid,
input:focus:invalid {
  border: 2px solid red;
}
input:required:valid {
  border: 2px solid green;
}

button:hover {
  cursor: pointer;
}

#startGame {
  padding: 0.75rem 5rem;
  border-radius: 6px;
  background-color: green;
  color: white;
  flex: 1;
  margin: 1rem 0rem;
}

.message {
  align-self: center;
  width: 50ch;
  background-color: rgb(163, 228, 163);
  border-radius: 6px;
  margin-top: 4rem;
  padding: 0.5rem;
  text-align: center;
}

.error {
  background-color: rgb(240, 140, 140);
}
